# Virtual environments
embo_env/
venv/
.venv/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Sphinx build artifacts
docs/_build/

# Distribution files
build/
dist/
*.egg-info/

# OS files
.DS_Store
Thumbs.db

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# Logs
*.log

# Temporary files
*.tmp
*.cache

# Results (optional – remove if needed)
results/
